[flake8]
ignore = C901,W503,W504,W605
exclude =
    .git,
    __pycache__,
    ./ui/XMLHighlighter.py
    ./ui/main_window.py
    ./ui/osm_file.py
    ./ui/query.py
    ./ui/quick_query.py
    .venv/,
    venv/,
    x_test*.py,
