# Python
.venv
.pytest_cache/
*.pyc
*.py.bak
*.*~

# IDE
.idea

# Data
*.osm

# QGIS-Plugin-CI
QuickOSM/i18n/
QuickOSM/resources/i18n/
QuickOSM.*.zip

# MkDocs
build/
docs/CHANGELOG.md
docs/CONTRIBUTING.md
