version: '2'

services:
  qgis:
    image: qgis/qgis:release-3_10
    container_name: qgis
    volumes:
      # - /tmp/.X11-unix:/tmp/.X11-unix
      - ../${PLUGIN_NAME}:/tests_directory/${PLUGIN_NAME}
    environment:
      # - DISPLAY=unix$DISPLAY
      - DISPLAY=:99
